body    { 
		background-color: white;
}

.background    { background:;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: url("lava.png")  }
.wall          { background: url("wall.png") }
.wallX         { background: url("wall.png") }
.spike         { background: url("spike.png") }
.wall2          { background: url("wall.png") }
.wall2X         { background: url("wall.png") }
.actor  { position: absolute;  }
.coin   { background:url("coin.png") }
.player { background: url("player.png") }
.hostile { background: url("melee.png")}
.hostilei { background:}
.hostilef { background: url("ranged.png")}
.hostilef2 { background: url("ranged.png")}
.hostilef3 { background: url("ranged.png")}
.hostilef4 { background: url("ranged.png")}
.hostilef5 { background: url("ranged.png")}
.hostilef6 { background: url("ranged.png")}
.bullet { background: url("bullet.png")}
.bulleth { background: url("bullet.png")}
.bulleth2 { background: url("bullet.png")}
.bulleth3 { background: url("bullet.png")}
.bulleth4 { background: url("bullet.png")}
.bulleth5 { background: url("bullet.png")}
.bulleth6 { background: url("bullet.png")}
.healthP { background: url("HP.png")}
.bouncerblock { background: url("Bouncer.png")}
.phaseblock { background: url("PathWall.png")}
.building { background: url("wall.png") }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: absolute;
  left: 200px;
  top: 165px
}
canvas{
 position: absolute;
 left: 200px
}
div.image{
	display: none;
}

.lost .player {
  background: url("player.png");
}
.won .player {
  background: url("player.png");
}
